service:
  name: notifications
  version: 1.0.0
  environment: dev

server:
  grpc:
    port: 8082
  admin:
    host: 0.0.0.0
    port: 9090
    metrics:
      enabled: true
      path: /metrics
    pprof:
      enabled: true
      path: /debug/pprof

logger:
  level: debug  # debug, info, warn, error, fatal, panic

tracer:
  enabled: true
  service_name: notifications
  jaeger_agent_host: jaeger-agent
  jaeger_agent_port: 4317
  sampler_type: const
  sampler_param: 1

metrics:
  enabled: true
  namespace: balun_courses
  subsystem: grpc

database:
  host: notifications-db
  port: 5432
  name: notifications
  sslmode: disable
  max_conn_idle_time: 1m

kafka_consumer:
  brokers: kafka:29092
  consumer_group_id: notifications-service
  consumer_name: notifications-consumer
  topics:
    friend_request_events: friend-request-events

workers:
  save_events:
    interval: 5s
    batch_size: 100
  delete:
    interval: 1h
    retention_days: 7

secrets:
  dev:
    env_prefix: "APP_"
    file_path: "./secrets.yaml"
    vault:
      enabled: false
  prod:
    env_prefix: "APP_"
    file_path: "/etc/secrets/secrets.yaml"
    vault:
      enabled: true
      address: "http://vault:8200"
      mount_path: "secret"
      secret_path: "notifications/production"
