service:
  name: auth
  version: 1.0.0
  environment: dev

server:
  grpc:
    port: 8082
  timeout:
    enabled: true
    ignore: []
    timeoutMs: 5000
    paths: []
  rateLimit:
    enabled: true
    ignore: []
    reqPerSec: 1000
    paths: []
  admin:
    host: 0.0.0.0
    port: 9090
    metrics:
      enabled: true
      path: /metrics
    pprof:
      enabled: true
      path: /debug/pprof

logger:
  level: debug  # debug, info, warn, error, fatal, panic

tracer:
  enabled: true
  service_name: auth
  jaeger_agent_host: jaeger-agent
  jaeger_agent_port: 4317
  sampler_type: const
  sampler_param: 1

metrics:
  enabled: true
  namespace: balun_courses
  subsystem: grpc

database:
  host: auth-db
  port: 5432
  name: auth_db
  user: user
  password: password
  sslmode: disable
  max_conn_idle_time: 1m

auth:
  issuer: balun-auth-service
  audience:
    - users
    - social
    - chat
    - gateway
  access_token_ttl: 15m
  refresh_token_ttl: 720h  # 30 дней

keys:
  storage: db  # vault | db (для vault нужно добавить secrets конфигурацию)
  vault:
    path: secret/auth/rsa-keys
  db:
    auto_create_on_start: true

crypto:
  password:
    bcrypt_cost: 12
    min_length: 6

users_service:
  host: users
  port: 8082
  grpc_client:
    timeout: 2s
    retry:
      max_attempts: 3
      backoff:
        base: 100ms
        max: 2s
        jitter: true
      retryable_codes:
        - UNAVAILABLE
        - DEADLINE_EXCEEDED
        - RESOURCE_EXHAUSTED
        - ABORTED
    circuit_breaker:
      failures_for_open: 5
      window: 30s
      half_open_max_calls: 5
      open_state_for: 60s
